.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1fr;
    min-height: 30vh;
    width: 30vw;
    margin: 50px auto 20px;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    color: #f3f3f3;
}