:root{
    --font-clr: white ;
    --bg-color: rgba(51, 51, 51, 0.9);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: var(--bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.nav{
    display: flex;
    gap: 20px;
}
